<template>
<form @submit.prevent="ajaxPost">
<slot></slot>
</form>
</template>

<script>
  export default {
    created() {
    },

    data() {
      return {
        items: []
      }
    },

    methods: {
      ajaxPost: function(e) {

        var el = e.target;

        var formData = new FormData(el);

        console.log(formData);

        this.$emit('startwait');

        this
          .$http.post(el.action, formData)
          .then(this.onComplete.bind(this))
          .catch(this.onError.bind(this));
      },

      onComplete: function(response) {

        if (this.type == 'file') {
          return response
        } else {
          if (this.suppressSuccess == undefined) {
            util.onCompleteNotify(response)
          }
        }

        this.$emit('endwait');

        this.$emit('completesuccess', response);

        if (this.reloadOnComplete) {

          location.reload();

        } else if (this.redirectOnComplete !== undefined) {

          console.log(this.redirectOnComplete)

          var redirect = this.redirectOnComplete

          window.setTimeout(function(){

            window.location = redirect;

           }, 2000, redirect);

        } else if (this.goToNext !== undefined) {

          var next = this.goToNext

          if (this.goToAppendData !== undefined) {
            next = next + '/' + response.data.data;
          }

          util.showModal(next);
        }

      },

      onError: function(response) {

        console.log(response);

        util.onErrorNotify(response);

        this.$emit('endwait');

        this.$emit('completeerror');

      },
    },

    ready() {
        console.log('Form component ready.')
    },

    props: ['reloadOnComplete', 'redirectOnComplete', 'goToNext', 'goToAppendData', 'type', 'suppressSuccess']

  }
</script>
