header a.logo img {
  max-height: 70px;
}

.navbar {
  min-height: 90px;
}


.bg-black-opacity-light {
  background-color: rgba(0, 0, 0, 0.3);
}

.mobile-only {display: none}

@media (max-width: 767px) {
  .mobile-only {display: block}
}
